.s-rent {

    .swiper-rent {
        overflow: visible;
    }
    &__swiper {
        @include media('>tablet') {
            display: grid!important;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3.2rem;
            row-gap: 3.6rem;
        }
    }
    .rent-card {
        &__image {
            padding-bottom: 62%;
            margin-bottom: 1.2rem;

            @include media('<=tablet') {
                padding-bottom: 69%;
            }
            @include media('<=phone') {
                margin-bottom: 0.6rem;
                padding-bottom: 56%;
            }
        }
        &__title {
            @extend %text-22;

            margin-bottom: 0.6rem;
        }
        &__descr {
            @extend %text-14;

            color: $color-dark-grey;
            text-transform: uppercase;
            margin-bottom: 1.6rem;
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media('<=phone') {
                align-items: flex-start;
            }

            span {
                @extend %text-20;
                margin-right: 2rem;

                @include media('<=phone') {
                    margin-bottom: 1.6rem;
                }
            }

            a {
                @extend %text-14;

                text-transform: uppercase;
                border: 1px solid $color-main;
                transition: all 0.3s ease;
                padding: 1.4rem 4rem 1.2rem 4rem;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    bottom: -1px;
                    right: -1px;
                    left: -1px;
                    z-index: -1;
                    background-color: $color-main;
                    transform-origin: center top;
                    transform: translateZ(0) scaleY(0);
                    transition: transform .3s cubic-bezier(.215,.61,.355,1);
                }

                @include media('<=phone') {
                    text-align: center;
                    width: 100%;
                }

                @media(any-hover: hover) {
                    &:hover{
                        color: $color-white;
                        &:before {
                            transform: translateZ(0) scaleY(1);
                            transform-origin: center bottom;
                        }
                    }
                }

            }

            @include media('<=phone') {
                flex-direction: column;
            }
        }
    }
}