$fontFamily: 'Cera Pro';
$color-white: #fff;
$color-main: #1D3C34;
$color-grey: #828282;
$color-dark-grey: #4F4F4F;
$color-light-grey: #E0E0E0;
$color-middle-grey: #BDBDBD;
$color-light2-grey: #C8C8C8;
$color-error: #ee1212;

$z-indexes: (
  'cursor',
  'header',
  'page',
  'footer'
);