.page-section {
    padding: 13.6rem 0 9.6rem;

    @include media('<=tablet') {
        padding: 9.6rem 0 9.6rem;
    }
    @include media('<=phone') {
        padding: 6.4rem 0 6.4rem;
    }

    &_green {
        background: $color-main;

        padding: 9.6rem 0 9.6rem;

        @include media('<=tablet') {
            padding: 8rem 0 4.8rem 0;
        }
        @include media('<=phone') {
            padding: 4.8rem 0 3.2rem 0;
        }
    }

	&__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto 7.2rem auto;

        @include media('<=tablet') {
            margin: 0 auto 6.4rem auto;
        }
        @include media('<=phone') {
            margin: 0 auto 4rem auto;
        }
	}
	&__circles {
        margin-bottom: 5.6rem;

        @include media('<=tablet') {
            margin-bottom: 3.2rem;
        }
	}
	&__title {
        margin-bottom: 3.2rem;

        @include media('<=tablet') {
            margin-bottom: 2.4rem;
        }

        h2 {
            text-align: center;
            color: $color-main;
        }
	}
	&__description {
        span {
            @extend %text-24;

            display: block;
            text-align: center;
            color: $color-main;
        }
	}
	&__body {
        display: flex;
        justify-content: space-between;

        @include media('<=tablet') {
            flex-direction: column;
            .page-section__column:first-child {
                margin-bottom: 4.8rem;
            }
        }
        @include media('<=phone') {
            .page-section__column:first-child {
                margin-bottom: 4rem;
            }
        }
	}
	&__column {
        &_big {
            flex: 0 0 592/1216 * 100%;
    
            @include media('<=tablet') {
                flex: 0 0 100%;
            }
        }
        &_small {
            flex: 0 0 488/1216 * 100%;
    
            @include media('<=tablet') {
                flex: 0 0 100%;
            }
        }
    }
	&__info-list {
        &_border-top {
            border-top: 1px solid $color-main;
        }
        li {
            padding: 2.4rem 0;
            border-bottom: 1px solid $color-main;

            @include media('<=phone') {
                padding: 1.6rem 0;
            }

            span {
                @extend %text-22;

                color: $color-main;
            }
        }
	}
	&__column-small {
		
	}
    &__image-box {
        padding-bottom: 121.7%;
        //height: 72rem;
    }
    &__design {
        @include media('<=tablet') {
            display: none;
        }
    }
}

.features-list {
    &__item {
        border-top: 1px solid $color-white;
        padding: 3.2rem 0;

        @include media('<=phone') {
            padding: 16px 0;
        }
    }
    &__title {
        @extend %text-14;

        display: block;
        color: $color-grey;
        text-transform: uppercase;
        margin-bottom: 16px;

        @include media('<=phone') {
            font-size: 1.2rem;
            margin-bottom: 4px;
        }
    }
    &__descr {
        @extend %text-48;

        display: block;
        color: $color-white;

        @include media('<=phone') {
            font-size: 3.2rem;
        }

        .format {
            @extend %text-22;

            @include media('<=phone') {
                font-size: 1.4rem;
            }
        }
    }
}