.checkbox {
	position: relative;

	.form__error {
		display: none!important;
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("@img/icons/check-wt.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		@extend %text-12;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: $color-light2-grey;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 32px;
			left: 0;
			top: 0;
			width: 32px;
			height: 32px;
			background: $color-light2-grey;
			border-radius: 100%;
		}
	}
	a {
		color: $color-light2-grey;
		text-decoration: underline;
		padding: 0 0.5rem;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
